PERDESIGN_CHAT_BASE_URL=https://api-cn.65535.space/v1
PERDESIGN_CHAT_API_KEY=your_chat_api_key_here
PERDESIGN_IMAGE_BASE_URL=https://img-cn.65535.space/v1
PERDESIGN_IMAGE_API_KEY=your_image_api_key_here
